body{
  color: #fff;
  background-color: #c17400;
}

p{
  text-align: justify;
}

.navbar-light .navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: bold;
}

.nav-link{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
}

li > a:hover{
  background-color: #e7e7e7;
}

@media (max-width: 575px){
  .col-xs-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
}

.navbar-nav{
  margin: 0 -16px -8px -16px;
}

section{
  background-color: #085579;
  padding: 15px;
  border: 2px solid black;
  margin-bottom: 20px;
}

p + p{
  text-align: right;
}

p > a:hover{
  font-size: 18px;
  font-weight: bold;
}

p > a{
  font-size: 18px;
}
